# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions: read-all|write-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 14.x
      uses: actions/setup-node@v3
      with:
        node-version: 14.x
        cache: 'npm'
    - run: npm ci
    - name: Create secrets file
      run: export KEY=${{ secrets.KEY }} && npm run decrypt-secrets
    - run: cat secrets.json
    - run: npm run start
    - run: |
        date > generated.txt
        git config user.name Automated Action
        git config user.email github-actions@github.com
        git add .
        git commit -m "generated"
        git push
